body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #1e1e1e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin: 20px; /* Ajusta este valor según necesites */
}

.title {
    font-size: 100px;
    font-weight: bold;
    padding-bottom: 7px;
    padding-top: 10px;
}

.title .r { color: red; }
.title .u { color: yellow; }
.title .b { color: blue; }
.title .i { color: green; }
.title .k { color: orange; }
.title .s { color: white; }
.title .race { color: gray; }

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 40px;
    padding-top: 20px;
}

.file-upload {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: rgb(248, 248, 248);
    font-weight: 700;
    border-radius: 10px;
}

.button-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.game-area {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-direction: row;
}

.grid-container {
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(5, 60px);
    gap: 5px;
    margin: 10px auto;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #3e3e3e;
}

.grid-3x3 {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(3, 60px);
    gap: 5px;
    margin: 20px auto;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #3e3e3e;
}

.cell {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.game-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* Separar el tablero de la info */
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    min-width: 200px; /* Tamaño mínimo */
}

/* Colores de las fichas */
.cell.R { background-color: red; }
.cell.A { background-color: yellow; }
.cell.B { background-color: white; }
.cell.V { background-color: green; }
.cell.N { background-color: orange; }
.cell.Z { background-color: blue; }
.cell.empty { background-color: gray; }

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

.btn-select {
    background-color: #4CAF50; 
    color: white;
    border: none;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.footer {
    background-color: #2e2e2e;
    color: white;
    text-align: center;
    padding: 0px; 
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px; 
    font-weight: bold;
}
.contributors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.contributor {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.github-logo {
    width: 30px;
    height: 30px;
    padding-bottom: 3px;
}

.loading-text {
    display: none;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 10px;
    animation: fade 1.5s infinite;
}

@keyframes fade {
    0% { opacity: 0.3; }
    50% { opacity: 1; }
    100% { opacity: 0.3; }
}